<?xml version="1.0" encoding="UTF-8"?>
<!--
  ===============LICENSE_START=======================================================
  Acumos
  ===================================================================================
  Copyright (C) 2017 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
  ===================================================================================
  This Acumos software file is distributed by AT&T and Tech Mahindra
  under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
   
       http://www.apache.org/licenses/LICENSE-2.0
   
  This file is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  ===============LICENSE_END=========================================================
  -->

<configuration scan="true" scanPeriod="3 seconds" debug="false">
	<property name="componentName" value="ds-compositionengine"></property>

	<property name="logDirPrefix" value="logs"></property>

	<property name="logDirectory" value="${logDirPrefix}/${componentName}" />
	<!-- Can easily relocate debug logs by modifying this path. -->
	<property name="debugLogDirectory" value="${logDirPrefix}/${componentName}" />

	<property name="p_tim"
		value="%d{&quot;yyyy-MM-dd'T'HH:mm:ss.SSSXXX&quot;, UTC}" />
	<property name="p_thr" value="%thread" />
	<property name="p_lvl" value="%.-5level" />
	<!-- <property name="TargetServiceName" value="%logger"/> -->
	<property name="p_log" value="%logger" />
	<property name="p_mrk"
		value="%replace(%replace(%marker){'\t', '\\\\t'}){'\n','\\\\n'}" />
	<property name="p_mdc"
		value="%replace(%replace(%mdc){'\t','\\\\t'}){'\n', '\\\\n'}" />
	<property name="p_msg"
		value="%replace(%replace(%msg){'\t', '\\\\t'}){'\n','\\\\n'}" />
	<property name="p_exc"
		value="%replace(%replace(%rootException){'\t', '\\\\t'}){'\n','\\\\n'}" />
	<property name="singleLinePattern"
		value="%nopexception${p_tim}\t${p_thr}\t${p_lvl}\t${p_log}\t${p_mrk}\t${p_mdc}\t${p_msg}\t${p_exc}\t%n" />
	<property name="multiLinePattern"
		value="${p_tim}\t${p_thr}\t${p_lvl}\t${p_log}\t${p_mrk}\t${p_mdc}\t%msg\t%rootException\t%n" />

	<!-- Example evaluator filter applied against console appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${multiLinePattern}</pattern>
		</encoder>
	</appender>

	<appender name="file-rolling"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logDirectory}/${componentName}.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDirectory}/${componentName}.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>
			<!-- keep 30 days' worth of history capped at 3GB total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${singleLinePattern}</pattern>
		</encoder>
	</appender>

	<appender name="file-async" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>256</queueSize>
		<appender-ref ref="file-rolling" />
		<includeCallerData>true</includeCallerData>
	</appender>
	<logger name="org.apache.http" level="INFO" />
	<logger name="org.springframework" level="INFO" />
	<logger name="org.springframework.web.HttpLogging" level="INFO" />
	<logger name="org.acumos.cds.client.CommonDataServiceRestClientImpl"
		level="INFO" />
	<logger name="springfox.documentation" level="INFO" />
	<logger name="org.hibernate.validator" level="INFO" />

	<!-- The root level is the default for all loggers, NOT a filter on any 
		appender. This level can be set with property logging.level.root=LEVEL. -->

	<root level="DEBUG">
		<appender-ref ref="file-async" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
